<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<form action="/process" method="post">
						<div class="form-group">
							<label for="exampleInputEmail1">Nombre de usuario</label>
							<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre de usuario" name="username">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Contraseña</label>
							<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" name="password">
						</div>
						<div><input type="submit" class="btn btn-default" value="Entrar"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>