<section id="new-turtle">
	<div class="row">
		<div class="col-md-4">
			<div class="image">
				<img src="http://martywolff.cdn3.mirahost.com/public/uploads/content/10/turtle-facial.jpg">
				<a href="#" class="left">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a href="#" class="right">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
			<div class="frames">
				<div class="frame">
					<img src="http://images6.fanpop.com/image/photos/33600000/Baby-Turtle-animals-33624610-500-350.jpg">
				</div>
				<div class="frame">
					<img src="http://images6.fanpop.com/image/photos/33600000/Baby-Turtle-animals-33624610-500-350.jpg">
				</div>
				<div class="frame">
					<img src="http://images6.fanpop.com/image/photos/33600000/Baby-Turtle-animals-33624610-500-350.jpg">
				</div>
				<div class="frame">
					<img src="http://images6.fanpop.com/image/photos/33600000/Baby-Turtle-animals-33624610-500-350.jpg">
				</div>
				<div class="frame">
					<img src="http://images6.fanpop.com/image/photos/33600000/Baby-Turtle-animals-33624610-500-350.jpg">
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<h2><small>Nombre: </small>Tortuguia</h2>
			<h4><small>Nombre de pila: </small>Tortuguia</h4>
			<label>Último registro</label>
			<table class="table table-striped">
				<tr>
					<td>Fecha</td>
					<td>Peso Kg</td>
					<td>Caparazón</td>
					<td>Plaston</td>
					<td>Status</td>
				</tr>
				<tr>
					<td>1 de oct</td>
					<td>2</td>
					<td>31.1</td>
					<td>24.5</td>
					<td>Baja</td>
				</tr>
			</table>
			<label>Registros anteriores</label>
			<table class="table table-striped">
				<tr>
					<td>Fecha</td>
					<td>Peso Kg</td>
					<td>Caparazón</td>
					<td>Plaston</td>
					<td>Status</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>1 de oct</td>
					<td>2</td>
					<td>31.1</td>
					<td>24.5</td>
					<td>Baja</td>
					<td><button class="btn"><span class="glyphicon glyphicon-camera"></span></button></td>
				</tr>
				<tr>
					<td>1 de oct</td>
					<td>2</td>
					<td>31.1</td>
					<td>24.5</td>
					<td>Baja</td>
					<td><button class="btn"><span class="glyphicon glyphicon-camera"></span></button></td>
				</tr>
				<tr>
					<td>1 de oct</td>
					<td>2</td>
					<td>31.1</td>
					<td>24.5</td>
					<td>Baja</td>
					<td><button class="btn"><span class="glyphicon glyphicon-camera"></span></button></td>
				</tr>
			</table>
		</div>
	</div>
</section>